/*首页样式*/

.main {
	display: block;
	position: absolute;
	margin:5px 0 0 6%;
	width: 72%;
	list-style-type: none;
	background: #5aa762;
}
.main li {
	text-decoration: none;
	border: 1px solid #7698A7;
	height: 50px;
}
.main li p {
	line-height: 50px;
	font-size: 18px;
 }
.main ol li {
	list-style-position: inside;
	padding: 0 20px;
	height: 33px;
	line-height: 33px;
	background: #E7EFF1;
}
.main ol li span{
	float:right;
	font-size: 15px;
}

.sideBar {
	float: right;
	position: relative;
	margin: 5px 6% 0 0;
	width: 13%;
	background: #5aa762;
}
.sideBar li{
	list-style-type: none;
	float: left;
	width: 100%;
	border: 1px solid #7698A7;background: #E7EFF1;
	margin-top: 25px;
	padding-bottom: 10%;
}
.sideBar p{
	margin: 10px;
}
.sideBar span{
	display: block;
	margin:8px 0 0 10px;
	font-size:15px;
}

