/*基本样式*/
* {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: STheiti, Verdana, 宋体, Geneva, sans-serif;
}
body {
    background: #BFDBBB;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
}
button {
    margin: 10px 0 0 20px;
    padding: 8px 10px;
    color: white;
    outline: none;
    background: royalblue;
    border: none;
    border-radius: 5px;
}
img {
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
}

/*模块*/
.content {
    margin: 10px 5%;
    padding: 25px 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: #666 1px 1px 2px;
}
.title {
    font-size:28px;
    text-align: center;
}
.tips {
    margin: 20px 5px 10px;
    text-align: center;
}
.jsShow {
    padding: 10px 0 0 30px
}

