/* 各个模块样式 */
.title{
	font-size: 28px;
	text-align: center;
}
.jsShow {
	padding: 10px 0 0 30px
}	
/* content 模块 */
.content {
	background: #fff;
	border-radius: 5px;
	box-shadow: #666 1px 1px 2px;
}

/* list 模块*/
.listTitle {
	height: 45px;
	line-height: 45px;
	font-weight: 700;
}
.listTime {
	display: block;
	float: right;
	font-size: 15px;
}
.list ul li{
	list-style: none;
	background: #63a761;
}
.list ul ol li{
	height: 20px;
	background: #EBF5DF;
}

/* sideBar 模块 */
.sideBar {
	background: #63a761;
}
.sideBar div {
	background: #EBF5DF;
}
.copyright {
	text-align: center;
	font-size: 15px;
}