/**
 * 子页的基本CSS
 */
.model{
	padding: 20px;
	margin: 10px;
	
	border: 1px solid lightgrey;
	border-bottom: 5px solid green;
	border-radius: 5px;
	box-shadow: #666 0px 0px 5px;
}
.title{
	font-size: 23px;
}
p{
	margin-left: 20px;
}
button{
	padding: 8px 10px;
	margin: 10px 0 0 30px;
	color: white;
	background: royalblue;
	
	border: none;
	border-radius: 5px;
	outline: none;
}
a{
	text-decoration: none;
}