/**
 * 子页的基本CSS
 */
p{
	margin-left: 20px;
}
a{
	text-decoration: none;
}
button{
	padding: 8px 10px;
	margin: 10px 0 0 30px;
	color: white;
	background: royalblue;
	
	border: none;
	border-radius: 5px;
	outline: none;
}



.model{
	padding: 20px;
	margin: 10px;
	
	border-bottom: 4px solid green;
	border-radius: 5px;
	box-shadow: #666 0px 0px 1px;
}
.title{
	font-size: 23px;
}